[buildout]
parts = bob python
;develop = .

; checks-out everything under the 'sources' section
extensions = mr.developer
auto-checkout = *

; names of the packages you want to have installed apps for
eggs = spooflib
       gridtk
       ipdb

[sources]
local.bob.recipe = git git@github.com:idiap/local.bob.recipe.git
gridtk = git git@github.com:idiap/gridtk.git

[bob]
recipe = local.bob.recipe:config
; choose here your bob installation - **re-run buildout if you change it**
; install-directory = /path/to/the/root/of/your/bob/build/tree

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
extra-paths = ${bob:path-append}
